.ficheartisan{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    margin: 200px;
    margin-top: 10px;
    background-color: #30306e;
    color: white;
}
img{
    width: 150px;
    height: 150px;
}
h1{
    justify-content: center;
    margin-left: 200px;
}
